@import url(./_distribute/card__footer_distribute_between.css);
@import url(./_distribute/card__footer_distribute_center.css);
@import url(./_distribute/card__footer_distribute_right.css);
@import url(./_vertical-align/card__footer_vertical-align_bottom.css);
@import url(./_vertical-align/card__footer_vertical-align_center.css);
@import url(./_vertical-align/card__footer_vertical-align_top.css);
@import url(./_space-a/card__footer_space-a_m.css);
@import url(./_space-a/card__footer_space-a_l.css);
@import url(./_space-a/card__footer_space-a_xl.css);
@import url(./_space-a/card__footer_space-a_xxl.css);


.card__footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}