@import url(./_width/text__word_width_.css);

.text__word {
    display: inline-block;
}

.text_size_s .text__word {
    height: var(--font-size-s);
    margin: var(--word-indent) 0;
    /* margin-bottom: var(--word-indent); */
}

.text_size_m .text__word {
    height: var(--font-size-m);
    margin: var(--word-indent) 0;
    /* margin-bottom: var(--word-indent); */
}

.text_size_l .text__word {
    height: var(--font-size-l);
    margin: var(--word-indent) 0;
    /* margin-bottom: var(--word-indent); */
}

.text_size_xl .text__word {
    height: var(--font-size-xl);
    margin: var(--word-indent) 0;
    /* margin-bottom: var(--word-indent); */
}

.text_size_xxl .text__word {
    height: var(--font-size-xxl);
    margin: var(--word-indent) 0;
    /* margin-bottom: var(--word-indent); */
}