@import url(./_col-gap/grid_col-gap_full.css);
@import url(./_col-gap/grid_col-gap_half.css);
@import url(./_col-gap/grid_col-gap_two-thirds.css);
@import url(./_m_columns/grid_m-columns_10.css);
@import url(./_m_columns/grid_m-columns_12.css);
@import url(./_row_gap/grid_row-gap_full.css);
@import url(./_row_gap/grid_row-gap_half.css);

@import url(./__fraction/grid__fraction.css);


.grid {
    display: grid;
    align-items: stretch;    
}

@media screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr;
    }
}