.brand-logo_name_blue {
    background-color: #5dcdf9;
}

.brand-logo_name_green {
    background-color: #23b324;
}

.brand-logo_name_red {
    background-color: #ff3333;
}

.brand-logo_name_purple {
    background-color: #c62cff;
}