.theme_color_project-warning {
    --theme-default-bg-color: #ff3333;
    --theme-accent-bg-color: #FFFFFF;
    --theme-border-color: #ff3333;
    --theme-primary-color: #FFFFFF;
    --theme-secondary-color: rgba(255, 255, 255, 0.6);
    --theme-additional-color: rgba(255, 255, 255, 0.3);
    --theme-link-color: #FFF;
}