/* @import url(../../common.blocks/text/text.css);
@import url(../../common.blocks/theme/theme.css); */

.footer {
    padding-top: var(--space-xxxl);
    padding-bottom: var(--space-xxxl);
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}