/* @import url(../../common.blocks/card/card.css);
@import url(../../common.blocks/text/text.css);
@import url(../../common.blocks/avatar/avatar.css);
@import url(../../common.blocks/brand-logo/brand-logo.css);
@import url(../../common.blocks/theme/theme.css); */

.event {
    min-height: 400px;
}

.event__preview {
    display: flex;
    margin-bottom: var(--space-xxl);
}

.event__speaker {
    margin-right: var(--space-xs);
}

.event__title {
    margin-bottom: var(--space-s);
}