/* @import url(../../common.blocks/theme/theme.css); */

.onoffswitch {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 97px;
    height: 32px;
    border-width: 2px;
    border-color: var(--theme-border-color);
    border-style: solid;
}

.onoffswitch__button {
    margin-left: 2px;
    margin-right: 2px;
    width: 24px;
    height: 24px;
    background-color: var(--theme-border-color);
}